p{
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title{
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.name{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.description{
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280;
  line-height: 21px;
  margin-bottom: 50px;
}
.shop-link{
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.shop-now-edit:hover{
  text-decoration: underline;
  cursor: pointer;
}

.span-example{
  color: red;
  margin-left: 12px;
}
.span-example:hover{
  text-decoration: underline;
}

.Tahoma{
  font-family: Tahoma;
  font-size: 26px;
  margin-bottom: 12px;
}

.Biggest{
  font-family: Arial;
  font-size: 26px;
  margin-bottom: 7px;
}
.Sales{
  color: red;
  margin-bottom: 20px;
}
.Course{
  font-family: Verdana;
  font-size: 26px;
  margin-bottom: 7px;
}
.Beginner{
  color:grey;
  font-family: Verdana;
  margin-bottom: 25px;
}
.prop{
  font-family: Verdana;
  width: 320px;
  font-size: 18px;
  margin-bottom: 20px;
}
.Button{
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-bottom: 20px;
}
.Button:hover{
  opacity: 0.8;
}
.Button:active{
  opacity: 0.5;
}

.Shopping{
  font-family: Arial;
  font-size: 26px;
  
}
.Apple{
  font-family: Arial;
  font-size: 15px;
  padding-left: 65px;
  line-height: 45px;
}
.Learn{
  color: rgb(85, 167, 238);
  font-family: Arial;
  font-size: 15px;
  padding-left: 130px;
  margin-bottom: 40px;
  cursor: pointer;
}
.Learn:hover{
  opacity: 0.8;
}
.Learn:active{
  opacity: 0.5;
}

.N{
  font-family: Arial;
  color: orange;
  font-weight: bold;
  padding-left: 200px;
}
.MacBook{
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding-left: 135px;
  line-height: 40px;
}
.Supercharged{
  font-family: arial;
  font-size: 40px;
  font-weight: bold;
  line-height: 35px;
}
.money{
  font-family: arial;
  font-size: 18px;
  padding-left: 180px;
  line-height: 55px;
}
.Buy{
  background-color: rgb(44, 63, 235);
  color: white;
  border: none;
  border-radius: 20px;
  margin-left: 210px;
  font-size: 20px;
  font-family: arial;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}
.Buy:hover{
  opacity: 0.8;
}
.buy:active{
  opacity: 0.5;
}
.digit{
  font-family: arial;
  font-size: 30px;
}
.dolar{
  color: grey;
  font-size: 20px;
}
.procent{
  font-family: arial;
  font-size: 20px;
  color: green;
  line-height: 40px;
}
.After{
  font-family: arial;
  font-size: 20px;
  color: grey;
  margin-bottom: 40px;
}
.last{
  color: red;
}
.free{
  font-family: arial;
  font-size: 20px;
  margin-bottom: 10px;
}
.code{
  font-family: arial;
  font-size: 20px;
  color: grey;
}
.developer{
  line-height: 25px;
  width: 500px;
  margin-bottom: 10px;
 
}
.here{
color: rgb(80, 156, 244);
cursor: pointer;
}